* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    background: rgb(4,3,1);
    background: linear-gradient(360deg, rgba(4,3,1,1) 0%, rgba(229,179,92,1) 100%);
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.site-head {
    display: flex;
    height: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dovey-image {
    object-fit: cover;
    border: 2px white solid;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.dovey-name {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.dovey-desc {
    color: white;
    font-family: 'Lora', serif;
}

.links {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.links a {
    font-size: 20px;
    font-family: 'Martel', serif;
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
    height: 10%;
    border: 2px white solid;
    transition: background-color .25s, color .25s, filter .25s;
}

.links a:hover {
    background-color: white;
    color: #030301;
}

.links a:hover div img {
    filter:invert(0%);
}

.name {
    justify-self: center;
    align-self: center;
}

.icon {
    align-self: center;
    display: flex;
    margin-left: 10px;
}

.icon img {
    height: 30px;
    filter:invert(100%);
}

@media screen and (max-height: 1000px) {
    .dovey-image {
        height: 150px;
        width: 150px;
    }
    
    .links a {
        font-size: 16px;
        width: 80%;
        height: 12%;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (min-height: 1000px) and (max-width: 999px){
    .dovey-image {
        height: 200px;
        width: 200px;
    }
    
    .links a {
        font-size: 36px;
        width: 80%;
        height: 12%;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .icon img {
        height: 50px;
        filter:invert(100%);
    }
}